// Color Variables
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$grey-500: hsl(234, 12%, 34%);
$grey-400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

// Font Variables

// Font Family
$poppins: 'Poppins', sans-serif;

// Font Weight
$font-200: 200;
$font-400: 400;
$font-600: 600;

// Font Size
$text-15: 0.9375rem;
$text-18: 1.125rem;
$text-20: 1.25rem;
$text-24: 1.5rem;
$text-36: 2.25rem;

// Spacing
$s-8: 0.5rem;
$s-16: 1rem;
$s-24: 1.5rem;
$s-32: 2rem;
$s-48: 3rem;
